<h4 *ngIf="!authService.isAuthenticated()">{{mainMessage}}</h4>
<h4 *ngIf="authService.isAuthenticated()">{{mainMessage}} {{authService.getUserName()}}.</h4>

<div class="row" style="margin-top:20px">
    <button
        type="button"
        class="btn btn-default btn-default"
        (click)="callApi()">
        {{callApiText}}
    </button>
</div>

<div class="row" style="margin-top:20px">
    <h5 *ngIf="response">{{apiResponseText}}</h5>
    <h5 *ngIf="response">{{response}}</h5>
</div>
