/*
This is not used in the project - see the scss version.
To use css instead of the Sass version change the styleUrls declaration in app.component.ts.
*/
main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
  display: block;
}

.DatLogo {
  width: 200px;
}