<header  class="navbar navbar-inverse navbar-static-top" id="top">
  <div class="container">
    <div class="navbar-header"> 
      <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> 
      <span class="sr-only">Toggle navigation</span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
      </button><a routerLink="''" class="navbar-brand">{{homeMenu}}</a> 
    </div> 
    <nav class="collapse navbar-collapse" id="bs-navbar">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/nonsecure">{{nonsecureMenu}}</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <a routerLink="/secure">{{secureMenu}}</a>
        </li>
      </ul> 
      <ul class="nav navbar-nav navbar-right"> 
        <li *ngIf="!authService.isAuthenticated()">
          <button class="btn btn-default navbar-btn" (click)="authService.login()">{{loginButton}}</button>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <button class="btn btn-default navbar-btn" (click)="authService.logout()">{{logoutButton}}</button>
        </li> 
      </ul> 
    </nav>
  </div>
</header>

<main class="container">
  <div class="row">
    <h1>{{title}}</h1>
    <img class='DatLogo' src="../../public/images/dat.svg">
  </div>
  <div class="row" style="margin-top:20px">
    <router-outlet></router-outlet>
  </div>
</main>
