<div class="container-fluid">
    <div>
        <h4>{{mainMessage}}</h4>
    </div>

    <div *ngIf="authService.isAuthenticated()">
        <br/>
        <h4>{{aboutTokenMessage}}</h4>
        <p>Your <code>access_token</code> has an expiry date of: {{ expiresAt | date:'medium' }}</p>
        <p>The token has been scheduled for renewal using silent auth, but can also be <a class="btn btn-xs btn-default" (click)="authService.renewToken()">renewed manually.</a></p>
    </div>
</div>
